html {
    line-height: 1.15;
}

body {
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1em;
    color: #3D405B;
    width: 750px;
}

main a {
    color: #AF8356;
    text-decoration: none;
}

main a:hover {
    color: #A05024ff;
}

footer a {
    color: #E79D70;
}

header {
    padding: 1rem;
    background-color: #8b4513
}

main {
    display: block;
    padding: 1rem;
    background-color: #DADADAff;
}

ul {
    width: 500px;
    color: #8b4513;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2em;
    margin: 0.67em 0;
    color: #DADADAff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight:700;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    color: #BE9F65;
    font-family: 'Oswald', sans-serif;
}

hr {
    box-sizing: content-box;
    height:0;
    overflow: visible;
    margin-right: 170px;
}

#peter {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 1.5em;
}

footer {
    font-size: 1em;
    background-color: #8b4513;
    color: #E79D70;
    text-align: center;
    padding: 1em;
}


