body {
  font-size: 16px;
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(217,143,143,1) 35%, rgba(0,212,255,1) 100%);
}

main {

  padding: 1rem;
  color: black;
  max-width: 70rem;
  margin-left: auto;
  margin-right:auto; 
}
header{
    position: fixed;
    width: 100%;
    background: rgba(38, 50, 56, 0.5);
    padding: 10px 0;
    z-index: 1;
  }
  header:after{
    content: "";
    display: block;
    clear: both;
  }
  header.fixed-to-top{
    background: rgba(38, 50, 56, 1);
  }
  #brand{
    color: #ccc;
    float: left;
  }
  #brand h1{
    letter-spacing: 10px;
    text-shadow: 2px 2px 5px #1B8CA6;
  }
  nav{
    float: right;
    margin-top: 10px;
  }
  nav li{
    display: inline-block;
    margin: 0 4px;
  }
  nav li a{
    padding: 10px 0;
    text-decoration: none;
    color: #e1e1e1;
  }
  nav li a:hover{
    color: #bbb;
  }
.banner-box img {
  display: block;
  margin-right: auto;
  max-width: 100%;
}
  
  .principles-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
  }
  .headline-1 {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .paragraph-1 {
    line-height: 1.2em;
    grid-column: 2/5;
    grid-row: 3/5;
  }
  .rule-of-thirds-img {
    grid-column: 3/6;
    grid-row: 2/4;
    margin-top: 0.5rem;
    width: 100%;
    max-height: 100%;
  }
  .headline-2 {
    grid-column: 1/6;
    grid-row: 4/5;
  }
  .paragraph-2 {
    text-align: right;
    line-height: 1.5rem;
    grid-column: 4/6;
    grid-row: 5/7;
  }
  .hicks-laww-img {
    grid-column: 1/4;
    grid-row: 5/7;
    margin-top: 0.5rem;
    width: 100%;
    max-height: 100%;
  }
  .headline-3 {
  text-align: left;
  line-height: 1.5em;
  grid-column: 1/6;
  grid-row: 7/9;
  }
  .paragraph-3 {
    text-align: left;
    line-height: 1.5em;
    grid-column: 1/6;
    grid-row: 9/11;
  }
 .slider {
   grid-column: 1/6;
   grid-row: 12/13;
 }

h2,
h4,
h5,
h6 {
  padding: 0.3rem 0.75rem 0.3rem 0.75rem;
  background: rgba(38, 50, 56, 0.5);
  font-family: "Chelsea Market", cursive;
  color: #ccc;
  text-shadow: 2px 2px 5px #1B8CA6;
}
h2 {
  border-top: 5px double;
  border-bottom: 5px double;
}