@media only screen and (min-width: 768px){
    main{
        margin:auto;
        display:inline-grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
        }
        .column1 {
          grid-row: 2;
          grid-column: 1;
        }
         
        .column2 {
          grid-row: 3;
          grid-column:1;
        }
         
        .column3 {
          grid-row: 4;
          grid-column: 1;
    
        }
        .column1,.column2,.column3{
          width: 425px;
        }
        #principle-1, #principle-2{
          width: 400px;
        }
        .navbar{
            display: none;
        }
}