@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
 { 
    
    main{
    margin:auto;
    display:inline-grid;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    }
    .column1 {
      grid-row: 2;
      grid-column: 1;
    }
     
    .column2 {
      grid-row: 3;
      grid-column:1;
    }
     
    .column3 {
      grid-row: 4;
      grid-column: 1;

    }
    .column1,.column2,.column3{
      width: 325px;
    }
    #principle-1, #principle-2{
      width: 325px;
    }
    #principle-3{
      display: inline;
      width: 325px;
    }
    .slider {
      display: none; 
    }
    .wrapHead {
      display: none;
    }
    
  .navbar {
    display: inline-flex;
    overflow: hidden;
    background-color: rgba(38, 50, 56, 0.5); 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 5px #1B8CA6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}