@media only screen and (min-width: 1200px) {
  body {
    background-color: #6b80bf;
  }

  main {
    max-width: 1920px;
    padding: 1.2em;
    margin: 0.75em 8rem;
  }

  .towns {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .towns section {
    display: block;
    width: 250px;
    padding: 1em;
    margin: 1em;
  }
}
