body {
  background-color: #6b80bf;
}
@media only screen and (min-width: 1008px) {
  main {
    max-width: 1920px;
    padding: 1.2em;
    margin: 0.75em 8rem;
  }

  #annoucementtext {
    position: absolute;
    margin-left: 75%;
    background-color: #ff0;
    font-size: 1em;
    width: 25%;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  .copywrite {
    padding-top: 1em;
  }
}
