@media only screen and (min-width: 700px) {
  body {
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar li {
    display: block;
    flex: 1 1 auto;
  }

  .navbar a {
    text-align: center;
    font-size: 1em;
    padding: 1em;
  }

  .navbar li:first-child {
    display: none;
  }

  .towns section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
  }
  .towns section:nth-child(odd) img {
    grid-column: 2;
  }
  .towns section:nth-child(odd) .data {
    grid-column: 1;
    grid-row: 1;
  }
}
