body {
  font-family: "Montserrat", sans-serif;

  background-color: #f4f1de;
}
header {
  background-color: #f0a83c;
  padding: 0.5em;
  font-weight: 700;
  display: flex;
  align-content: center;
  justify-content: center;
}
header.welcome {
  display: block;
  text-align: center;
}
header .subhead {
  font-style: italic;
  font-size: 1em;
  letter-spacing: 1pt;
  padding-left: 1.3em;
}

picture img {
  width: 6rem;
  height: auto;
  border-radius: 1em;
}
.banner h1 {
  color: #212121;
  padding-left: 0.75em;
  font-size: 1.8em;
  margin-bottom: 0.3em;
}
.siteslogan {
  font-style: italic;
  font-size: 1em;
  letter-spacing: 1pt;
  padding-left: 1.3em;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4em;
  color: #9c4d45;
}

.towns {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  color: #3d405b;
  font-size: 1em;
}

.towns section {
  border: 2px solid #3d405b;
  border-radius: 10px;
  background-color: white;
  padding: 0.55em;
}

.towns section img {
  border-radius: 5px;
  width: 80%;
  height: auto;
  filter: blur(0em);
  transition: filter 1s;
}
#motto,
#motto2,
#motto3 {
  font-style: italic;
}

main {
  background-color: #f4f1de;
}

footer {
  background-color: #f0a83c;
  color: #000;
  font-size: 1em;
  text-align: center;
  padding: 1em;
}
