@media only screen and (min-width: 1008px) {
  main {
    max-width: 1920px;
    padding: 2.5em;
    margin: 1em 10rem;
  }
}
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-center,
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed h3 {
    margin: auto 0;
  }
  .mapouter {
    position: relative;
    margin: auto;
  }
}
@media screen and (max-width: 770px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  [class*="col-"] {
    float: left;

    background-color: #6b80bf;
  }
  .col-4,
  .col-4.col-s-6 {
    background-color: #f4f1de;
  }
  #annoucementtext {
    position: absolute;
    margin-left: 75%;
    background-color: #ff0;
    font-size: 1em;
    width: 25%;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  .banner {
    margin-bottom: 0.3em;
  }
  .header {
    margin-top: 0.3em;
  }
  .navbar {
    margin: 0;
  }

  main figure.articlephoto {
    width: 66%;
    margin: 0 0 0 2%;
    float: right;
  }
  main figure.articlephoto img {
    width: 100%;
  }
  .article::after {
    content: "";
    clear: both;
    display: table;
  }
  .article {
    padding-bottom: 1em;
  }
  .footer-icons {
    display: inline-flex;
  }
  .copywrite {
    padding-top: 1em;
  }
}
@media only screen and (min-width: 540px) {
  .weatherSummary {
    position: absolute;
    top: 6em;
    left: 3.125em;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    box-shadow: 0 0 20px #111;
    opacity: 0.8;
  }
}
